
body,html {
  padding: 0;
  margin: 0;
  font-family: Arial;
  background-color: #eee;
  color: #444;
  font-size: 15px;
  line-height: 18px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
#pid {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.button-title{
  background-color: #31202E;
  color: white;
}

.button-section{
  background: #52364C;
  padding: 20px 10px;
  min-height: 530px;
}
button.connect {
  background-color: #52364C !important;
  color: white !important;
  font-weight: bolder;
}
button.connect:hover {
  background-color: #3E313C !important;
}
.color-slack {
  background-color: #1293E2;
}
.chat {
  border: 10px solid gray;
  padding: 5px;
}
.col-md-9{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.chat {
  min-height: 480px
}
#send {
  font-weight: bolder;;
}
#text,
#send {
 height: 50px;
}